/* mobile fist  */
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
  }
  

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(242, 225, 195,1);
}

h1{
    line-height: 2em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size:3em;
    text-align: center;
    /* background-color:  rgb(247, 3, 255); */
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.1);
    border-radius: .2em;
    margin: .2em;
    background-color: rgba(255, 255, 255, .9);
}

h2{
    grid-area:section;
    background-color: rgba(243, 243, 243,.2);
    margin: .5em;
    border-radius: .5em;
    padding: 1em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center ;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

}

h3{
    padding: 0em 0em;
    font-family: "Crimson Text", serif;
    font-size: 1.8em;
    text-align: left;
    /* background-color:  rgb(247, 3, 255); */
}
h4{
    padding: 1em 0em;
    font-family: "Crimson Text", serif;
    font-size: 1.4em;
}
h5{
    padding: 1em 0em;
    font-family: "Crimson Text", serif;
    font-size: 1.2em;
}
h6{
    padding: 1em 0em;
    font-family: "Crimson Text", serif;
    font-size: 1.5em;
    text-align: center;
}

main{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-image: url(../images/bg.jpg);
    height: 100vh;
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7em 15.8em auto auto 6em;
    grid-template-areas:
    "header"
	"nav"
	"section" 
    "aside" 
    "footer";
    
}





header {
    grid-area:header;
    background-image: linear-gradient(180deg,rgb(241, 231, 212) 0%,rgba(242, 225, 195,.0) 100%);
}


header img {
    height: 5em;
    margin: 2em auto 0.01em auto;
    text-align: center;
    display: block;
}

#logo {
    color:rgb(56, 41, 15);
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 8.5vw;
    vertical-align: middle;
    margin: .9em 6vw 6em 6vw;

}

nav {
    grid-area:nav;
    /* background-color:  rgb(247, 3, 255); */
}


nav ul , #submenu ul{
     
    list-style-type: none;
     padding: 0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     flex-direction: column;
     padding: .5em .3em; 
     text-transform: uppercase;
     
 }

 nav  li a ,  #submenu  li a {
    background-color:  rgb(97, 72, 28);
    color:rgba(242, 225, 195,1);
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    flex: 1 0 auto;
    text-align: center;
    border-radius: .5em;
    font-weight: bold;
    margin: .2em;
    transition: .25s background-color,.25s border-color,.25s color,.25s fill;
 }

nav li a:hover, #submenu li a:hover  {
    background-color:  rgb(117, 90, 43);
    display: block;
    /* color:rgb(97, 72, 28); */
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.2);
    /* border-bottom: .2em solid rgb(240, 130, 28); */
}
nav li a:active, #submenu li a:active  {
    color:rgb(97, 72, 28);
    background-color:  rgba(242, 225, 195,1);
    box-shadow: -1px -1px 5px 2px rgba(0,0,0,.2);
}

section{
    grid-area:section;
    margin: .5em;
    border-radius: 1em;
    padding: .2em;
    /* background-color:  rgb(247, 3, 255); */
        background-color: rgba(243, 243, 243,.8);
}
/* section #recetas, section #salud, section #equilibrio, section #contacto { */
    /* background-color: rgba(243, 243, 243,.8); */
    /* background-color:  rgb(247, 3, 255); */
/* }
section #portada {
    background-color:transparent;
} */



/* section img {
    height: 18vw;
    margin: 0em auto;
    text-align: center;
    display: block;

} */




article {
    background-color: rgba(255, 255, 255, .9);
    margin: .5em;
    border-radius: .5em;
    padding: 2em;
    box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.1);
}

.nutrición p{
    margin: 10px 15px;
    text-align: justify;
    padding: 5px;
    
}
.salud p{
    margin: 2px 0;
    text-align: center;
    
}
.salud .salud1{
    text-align: center;
}

article h4{
    padding-bottom: 5px;
}

aside {
    grid-area:aside;
    background-color: rgba(245, 245, 245, 0.9);
    margin: .5em;
    border-radius: .5em;
    padding: 2em;
    height: auto;
}

aside p {
    text-align: center;
}

aside h4 {
    padding: 2em 0em 0.5em .5em;
    text-align: center;
}


footer {
    grid-area:footer;
   background-color:  rgb(97, 72, 28);
    /* background-image: linear-gradient(200deg,rgb(34, 26, 2) 30%,rgba(15, 11, 4, 0) 100%); */
    color:rgba(242, 225, 195,1);
    padding: 1em;
    text-align: center;

}
footer .redes-footer{
    display: flex;
    justify-content: center;
   
}
footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 10px;
    width: 15px;
    height: 10px;
    display: flex;
    justify-content: center;
    
}
footer .parrafo-footer{
    margin-top: 5px;
    font-size: 15px;
}

footer a , footer a:visited {
    text-decoration: none;
    color:rgba(242, 225, 195,1);
}

/* .receta {
} */

.receta img{
    border-radius: 2em;
    box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.2);
    float: right;
    height: 150px;
    width: 150px;
    margin: 0em 0em 1em 1em;
}


.receta li {
    /* list-style-type: none; */
    margin: 0px 1em 0em 4em;
    /* padding: 0px 1em 0em 5em; */
    /* background-color:  rgb(255, 0, 234); */
}
/* #index h2{ */
    /* grid-area:section; */
    /* background-color: rgba(243, 243, 243,.3);
    margin: .5em;
    border-radius: .5em;
    padding: 1em;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center ;

} */


.equilibrio {
    text-align: center;
}

.equilibrio audio {
    width: 90%;
}
/* 
.equilibrio video, .equilibrio iframe {
    border-radius: 2em;
    width: 70vw;
    height: 40vw;
    vertical-align: middle;
} */


video, iframe {
    border-radius: 1.5em;
    width: 70vw;
    height: 40vw;
    /* background-color:  rgb(51, 50, 49); */
    vertical-align: middle;
}



table {
    width: 100%;
    background-color: #fff;
    /* background-color:  rgb(255, 0, 234); */
    text-align: center;
    border-radius: 1em;
    
    
}

table th{
    background-color:  rgb(97, 72, 28);
    color:rgba(242, 225, 195,1);
    padding: .5em;
    /* border-radius: 1em 1em 0em 0em; */
}


/* table tr th .header{ */
    /* background-color:  rgb(97, 72, 28);
    color:rgba(242, 225, 195,1);
    padding: .5em; */
    /* border-radius: 1em 1em 0em 0em; */
    /* background-color:  rgb(255, 0, 234); */
/* } */

table td{
    padding: .5em;
}

table th:first-child{
    border-radius: 1em 0em 0em 0em;
}
table th:last-child{
    border-radius: 0em 1em 0em 0em;
}
tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {
    background-color: rgba(242, 225, 195,1);
    border-radius: 1em;
}











form {
    /* background: #fff; */
    padding: 0px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* max-width: 400px; */
    /* width: 60vw; */
    text-align: center;
    margin: 0px;
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form label {
    /* display: block; */
    margin-bottom: 5px;
    color: #666;
}

form input,
form textarea {
    /* width: 55vw; */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

form button {
    /* width: 100%; */
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
}

form button:hover {
    background: #0056b3;
}

#responseMessage {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.error {
    color: rgb(179, 51, 51);
    font-weight: 600;
}

/* 
.ejercicios iframe{
    border-radius: 2em;
    width: 70vw;
    height: 35vw;
    vertical-align: middle;
} */
.ejercicios{
    text-align: center;
    font-size: 20px;
}
.ejercicios span{
    color: rgb(97, 72, 28);
}



/* tablet */
@media screen and (min-width: 700px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  7em 3em auto auto 6em;
    grid-template-areas:
    "header"
	"nav"
	"section" 
    "aside" 
    "footer";
  }

     
  #logo {
    font-size: 3.5em;
    margin: .5em;

}

header img {
    height: 8em;
}




  nav ul, #submenu ul{
    flex-direction: row;
    gap:.1em;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: .2em .01em;
    font-size: .8em;
}



nav li a, #submenu li a {
    justify-content:space-around;
}

.receta img{
    height: 220px;
    width: 220px;
}


}



/* pc */
@media screen and (min-width: 1000px){
    

    main{
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows:  9em 4em auto 100px;
        grid-template-areas:
      "header header"
      "nav nav"
      "section aside"
      "footer footer";
  }
  






  #logo {
    font-size: 4.5em;

}

header img {
    height: 12em;
}


nav ul , #submenu ul{
        gap:2em;
    }
    
    
    
    nav li a, #submenu li a {
    margin: .1em, 10em;
    font-size: 1.3em;
    }

    aside{
        height: auto;
    }
    .receta img{
        height: 300px;
        width: 300px;
    }

    .equilibrio video, .equilibrio iframe {
        width: 55vw;
        height: 31vw;
    }
    
}






/* adicional temas oscuros */



/* @media (prefers-color-scheme: ligth) { */
/* @media (prefers-color-scheme: dark) {
    @media screen and (max-width: 699px){
        
        
    }

    @media screen and (min-width: 700px, max-width: 999px){
        
    }
    
    @media screen and (min-width: 1000px){
        
    }
} */